.Guide {
  padding: 8rem 5%;
  background-color: var(--colorBlueLight);
  width: 100%;
  border-radius: 40px;
  margin: 4rem 0;

  &__header {
    width: 45%;
    @media (max-width: 900px) {
      width: 100%;
      text-align: center;
    }
  }

  &__progress-container {
    width: 100%;
    margin: 6rem 0 4rem 0;
    
    .Guide__line-bg {
      height: 4px; // Línea delgada = Minimalismo
      width: 100%;
      background-color: var(--colorGray);
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    }

    .Guide__line-active {
      height: 100%;
      background-color: var(--colorRed);
      border-radius: 10px;
      animation: progressInfinite 4s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    }
  }

  &__grid {
    .step-number {
      color: var(--colorRed);
      opacity: 0.15;
      font-size: 3.5rem;
      margin-bottom: -1.5rem;
      margin-left: -5px;
    }
    
    .title { margin-bottom: 0.8rem !important; }
    .description { color: var(--colorGrayDark); line-height: 1.6; }
  }
}

@keyframes progressInfinite {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%; // Esto hace que la línea se "desvanezca" hacia la derecha
  }
}

@media (max-width: 600px) {
  .Guide {
    padding: 4rem 1.5rem;
    border-radius: 20px;
  }
}