.AboutMe {
  &__header {
    margin-bottom: 4rem;
    
    .title {
      color: var(--colorBlack);
    }
    
    .tagline {
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 14px; // Estilo sutil pero potente
    }

    .description {
      color: var(--colorBlack);
      max-width: 900px;
    }

    .text {
      line-height: 1.6;
      color: var(--colorGrayDark);
    }
  }

  .about-card {
    background: var(--colorWhite);
    padding: 2rem;
    border-radius: 20px;
    height: 100%;
    border: 1px solid var(--colorBlueLight);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &:hover {
      border-color: var(--colorRed);
      transform: translateY(-5px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    }

    .icon-wrapper {
      width: 50px;
      height: 50px;
      background: var(--colorBlueLight);
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content-wrapper {
      .title {
        margin-bottom: 0.5rem;
        color: var(--colorBlack);
      }
      .description {
        color: var(--colorGrayDark);
        line-height: 1.4;
      }
    }
  }
}