.select {
  width: 100%;

  .form-label {
    font-size: 13px;
    color: var(--text-secondary);
    margin-bottom: 4px;
    display: block;  

  }

  .autocomplete-input {
    input {
      color: var(--text-primary, #000000);
      font-weight: 500;
      font-family: Onest !important;      
      height: 40px; // unifica altura con otros campos
      padding: 0px 20px !important;
    }

    .MuiInputBase-root {
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 8px;
      transition: all 0.3s ease;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 255, 255, 0.25);
      border-radius: 8px; // asegura bordes redondeados
    }

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: rgba(255, 255, 255, 0.45);
    }

    .Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #42a5f5 !important;
      box-shadow: 0 0 0 1px rgba(66, 165, 245, 0.3);
    }

    input::placeholder {
      color: var(--colorBlack) !important;
      font-weight: 400;
      opacity: 0.5;
    }

    &.Mui-disabled {
      background-color: #a0a9aa !important; // fondo de bloqueado en view
      color: rgba(255, 255, 255, 0.7) !important;
    }
  }
}

.MuiAutocomplete-paper { 
  padding: 8px 8px 8px 0;
  .MuiAutocomplete-listbox {
    padding: 0 !important;
    scrollbar-color: initial !important;
    &::-webkit-scrollbar {
      width: 6px !important;
      background-color: #5947ff !important;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px !important;
      background-color: #5947ff !important;
    }
    &::-webkit-scrollbar-track {
      // border-radius: 4px !important;
      background-color: #ffffff !important;
    }
  }
}

.autocomplete-dynamic {
  .MuiOutlinedInput-root {
    border-radius: 8px;
    color: #1a1a1a !important;
    background: linear-gradient(
      108deg,
      rgba(255, 255, 255, 0.4) 0.04%,
      rgba(255, 255, 255, 0.2) 51.71%,
      rgba(255, 255, 255, 0.3) 99.96%
    ) !important;
    height: 40px; // unifica con input
    font-size: 14px;

    &:hover fieldset {
      border-color: #4a90e2;
    }

    &.Mui-focused fieldset {
      border-color: #1e88e5;
      box-shadow: 0 0 0 1px rgba(30, 136, 229, 0.3);
    }
  }

  input::placeholder {
    color: rgba(60, 60, 60, 0.8) !important;
    font-weight: 400;
  }

  .MuiAutocomplete-popupIndicator,
  .MuiAutocomplete-clearIndicator {
    color: #1e88e5 !important;
  }

  &.Mui-disabled .MuiOutlinedInput-root {
    background-color: #a0a9aa !important;
    color: rgba(255, 255, 255, 0.7);
  }
}
