.checkbox-options {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .add-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .add-button {
      text-transform: none;
      border-radius: 8px;
      background-color: var(--colorIndigo);
      color: white;
      
      &:hover {
        background-color: var(--colorIndigo);
        opacity: 0.9;
      }
    }
  }

  .option-container {
    display: flex;
    align-items: center;
    gap: 16px;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.4) 0.04%, rgba(255, 255, 255, 0.2) 51.71%, rgba(255, 255, 255, 0.3) 99.96%);
    box-shadow: 0px 0px 8.18px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
    }

    .checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 32px;
      height: 32px;

      .checkbox {
        color: var(--colorIndigo);
        
        &.Mui-checked {
          color: var(--colorIndigo);
        }
        
        .MuiSvgIcon-root {
          font-size: 24px;
        }
        
        padding: 4px;
        margin: 0;
      }
    }

    .option-input {
      flex: 1;
      height: 45px;
      font-family: Onest;
      
      &::placeholder {
        color: #a1a1a1;
      }
      
      input {
        padding: 0px 15px;
        
        &::before {
          display: none;
        }
        
        &::after {
          display: none;
        }
      }
    }

    .delete-button {
      min-width: 48px;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background-color: white;
      color: var(--colorIndigo);
      border: 1px solid var(--colorIndigo);
      
      &:hover {
        background-color: white;
        opacity: 0.9;
      }
      
      .MuiSvgIcon-root {
        font-size: 24px;
      }
    }
  }
} 