.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 27, 50, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  z-index: 1001
}