.containerLanding {
  position: relative;
  width: 100%;
  // overflow-x: hidden; // Evita scroll horizontal por animaciones

  // Estructura base para todas las secciones
  .containerAboutMe,
  .containerContactUs,
  .containerOurProducts,
  .containerComments {
    padding: 5rem; // Desktop Large

    // Tablets
    @media (max-width: 1024px) {
      padding: 3rem;
    }

    // Móviles
    @media (max-width: 600px) {
      padding: 1.5rem;
    }
  }

  // Sección especial de GUÍA (menor padding inferior)
  .containerGuide {
    padding: 4rem 5rem 0rem 5rem;

    @media (max-width: 1024px) {
      padding: 4rem 3rem 0rem 3rem;
    }

    @media (max-width: 600px) {
      padding: 3rem 1.5rem 0rem 1.5rem;
    }
  }
}