.footer {
  position: relative;
  background-color: var(--colorBlack);
  padding: 100px 5% 40px 5%;
  overflow: hidden;

  .footer-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    @media (min-width: 1200px) {
      justify-content: flex-start;
    }

    img {
      filter: brightness(0) invert(1);
      transition: transform 0.4s ease;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
    border-radius: 8px;
    min-height: 60px;
    border: 1px solid transparent;

    .icon {
      color: var(--colorWhite);
      font-size: 28px;
      transition: color 0.3s ease;
    }

    &:hover:not(.no-hover) {
      transform: translateY(-5px);
      background-color: rgba(255, 255, 255, 0.05);
      border-color: var(--colorWhite);
      .icon {
        color: var(--colorRedLight);
      }
    }

    &.no-hover {
      cursor: default;
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

#footer-section {
  scroll-margin-top: 100px;
}
